@import "../../utils/less/index.less";

.sd-main-layout{
    background-color: @bbgColor;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    
    .layout-sider{
        width: 256px;
        max-width: 256px;
        min-width: 256px;
        flex: 0 0 256px;
        min-height: 100vh;
        background-color: @bgColor;
        background: linear-gradient(top, @bgColor, #fff);
        box-shadow: 2px 0px 6px 0px @shadowColor;
        position: relative;
        z-index: 1;
    }
    .layout-box{
        flex: auto;
        overflow-x: hidden;
        flex-direction: column;
        display: flex;
        .layout-content{
            .layout-page-list{
                margin: 10px;
                padding: 10px 15px 0 15px;
                min-height: 450px;
                background-color: #fff;
                border-radius: 2px;
            }
        }
    }
}