//app style
body{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue For Number", 
				 -apple-system, 
				 BlinkMacSystemFont, 
				 "Segoe UI", 
				 Roboto, 
				 "PingFang SC", 
				 "Hiragino Sans GB", 
				 "Microsoft YaHei", 
				 "Helvetica Neue", 
				 Helvetica, 
				 Arial, 
				 sans-serif;
	font-size: 13px;
}

a{
	color: #eee;
    background-color: transparent;
}
a:hover{
	color: #eee;
}

.sd-container *{
	box-sizing: border-box;
	//Search
	.search-container{
		padding: 16px 24px;
	}
}

ul{
	margin: 0;
}